PyQt6
numpy
soundfile
sounddevice
huggingface_hub
hf_transfer
lingua-language-detector
num2words
pydub
scipy
librosa
natsort
loguru
pydantic
randomname
lxml
pymupdf
mobi
ebooklib
ffmpy
flatten_dict
importlib_resources
requests
faster-whisper
demucs
pyannote.audio