lxml
pymupdf
mobi
demucs
ebooklib
faster-whisper
ffmpy
flatten_dict
hf_transfer
hf_xet
huggingface_hub
hydra-core
importlib_resources
librosa
lingua-language-detector
loguru
natsort
num2words
numpy
pydantic
pydub
pyqt6
randomname
scipy
sounddevice
soundfile
transformers>=5.0.0
accelerate
safetensors
pypinyin